input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

@mixin link-color {
  // The color below is from number 4 on https://visme.co/blog/website-color-schemes/
  color: #EDF5E1;
}

@mixin centered {
  text-align: center;
}

.tc {
  @include centered;
}

h1 {
  @include centered;
}

// Generic classes

.link {
  display: block;
  text-decoration: none;
  transition: color .15s ease-in;
  @include centered;
  @include link-color;
}

.link:hover {
    text-decoration: underline;
}

.link:focus {
    text-decoration: underline;
}
.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}
