input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

@mixin link-color {
  // The color below is from number 4 on https://visme.co/blog/website-color-schemes/
  color: #EDF5E1;
}

@media print {
   .noprint {
      visibility: hidden;
   }
}

body {
  font-family: 'Noto Sans', 'Open Sans', Arial, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  /*
  // The color below is from number 4 on https://visme.co/blog/website-color-schemes/
  */
  background: #05386B;
  @include link-color;
}

@mixin centered {
  text-align: center;
}

.pre-line {
  white-space: pre-line;
}

.bold {
  font-weight: bold;
}

.tc {
  @include centered;
}

h1 {
  @include centered;
}

// Generic classes

.row-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column {
  @include centered;
  flex: 1 1 0;
}

.row-parent-space-between {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.link {
  display: block;
  text-decoration: none;
  transition: color .15s ease-in;
  @include centered;
  /* font-weight: 600; */
  @include link-color;
}

.embedded-link {
  text-decoration: none;
  transition: color .15s ease-in;
  @include link-color;
}

.link:hover, .embedded-link:hover {
    text-decoration: underline;
}

.link:focus, .embedded-link:focus {
    text-decoration: underline;
}
.link:link, .link:visited, .embedded-link:link, .embedded-link:visited {
    transition: color .15s ease-in;
}

.link:active, .embedded-link:active {
    transition: color .15s ease-in;
}
