input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

@mixin link-color {
  // The color below is from number 4 on https://visme.co/blog/website-color-schemes/
  color: #EDF5E1;
}
@mixin left-align {
  text-align: left;
}

@media print {
   .noprint {
      visibility: hidden;
   }
}

@mixin centered {
  text-align: center;
}

.tc {
  @include centered;
}

h1 {
  @include centered;
}

@mixin cellpadding {
  padding: 5px 5px;
}

// Generic classes

.link {
  display: block;
  text-decoration: none;
  transition: color .15s ease-in;
  @include centered;
  /* font-weight: 600; */
  @include link-color;
}

.embedded-link {
  text-decoration: none;
  transition: color .15s ease-in;
  @include link-color;
}

.link:hover, .embedded-link:hover {
    text-decoration: underline;
}

.link:focus, .embedded-link:focus {
    text-decoration: underline;
}
.link:link, .link:visited, .embedded-link:link, .embedded-link:visited {
    transition: color .15s ease-in;
}

.link:active, .embedded-link:active {
    transition: color .15s ease-in;
}
