<section class="hero">
  <header class="hero-body">
    <h1 class="title has-text-centered">{{ title }}</h1>
    {% if not atHome %}
      <div class="has-text-centered">
        <a href="/">Home</a>
      </div>
    {% endif %}
  </header>
  <hr>
</section>
