<div>
  <header>
    <h1>{{ title }}</h1>
    {% if not page.atHome %}
      <div class="tc">
        <a class="embedded-link" href="/">Home</a>
      </div>
    {% endif %}
  </header>
  <hr>
</div>
