{# replacements for some filters #}

{%- macro txf(color) -%}<span style="white-space: nowrap">XF-{{color}}</span>{%- endmacro -%}

{%- macro tx(color) -%}<span style="white-space: nowrap">X-{{color}}</span>{%- endmacro -%}

{%- macro mrcolor(color) -%}Mr.&nbsp;Color&nbsp;<span style="white-space: nowrap">C-{{color}}</span>{%- endmacro -%}

{%- macro rlm(code) -%}RLM&nbsp;{{code}}{%- endmacro -%}

{%- macro nowrap(text) -%}<span style="white-space: nowrap">{{text}}</span>{%- endmacro -%}

{%- macro linkTo(text,url)-%}<a href="{{url}}">{{text}}</a>{%- endmacro -%}

{% macro h3(s) %}
  <h3 class="header3">{{ s | safe }}</h3>
{% endmacro %}
