{% extends "layouts/body.html.j2" %}
{% block content %}
<div class="block">
  <p class="has-text-weight-bold">Nothing in this list is for sale.</p>
</div>

<div class="row">
  <div class="column">
    <table class="uutable">
      {% include tablefile %}
    </table>
  </div>
</div>
{% endblock %}
