---
title: uulists
atHome: true
---
{% extends "layouts/body.html.j2" %}
{% block content %}
<div class="tc">
  <p>
    This site contains an inventory of my stash of scale model kits and aftermarket items.
    It is for my personal use only.
  </p>
  <p class="bold">
    Nothing on this site is for sale.
  </p>
</div>
<div class="row-parent">
  <div class="column">
    <div class="mb-3">
      <div><a class="embedded-link" href="/decals">Decals</a></div>
      <div><a class="embedded-link" href="/kits">Kits in boxes</a></div>
      <div><a class="embedded-link" href="/resin">Resin</a></div>
      <div><a class="embedded-link" href="/canopies">Canopies</a></div>
      <div><a class="embedded-link" href="/masks">Masks</a></div>
      <div><a class="embedded-link" href="/ezmasks">EZ Masks</a></div>
      <div><a class="embedded-link" href="/horizon">Horizon kits</a></div>
      <div><a class="embedded-link" href="/toybiz">Toy Biz kits</a></div>
      <div><a class="embedded-link" href="/gandp">Girls und Panzer kits</a></div>
    </div>
  </div>
</div>
{% endblock %}
