---
title: uulists
atHome: true
---
{% extends "layouts/body.html.j2" %}
{% block content %}
<div class="block">
  <p>
    This site contains an inventory of my stash of scale model kits and aftermarket items.
    It is for my personal use only.
  </p>
  <p class="bold">
    Nothing on this site is for sale.
  </p>
</div>
<div class="block">
      <div><a href="/decals">Decals</a></div>
      <div><a href="/decal-boxes">Decal boxes</a></div>
      <div><a href="/kits">Kits in boxes</a></div>
      <div><a href="/resin">Resin</a></div>
      <div><a href="/canopies">Canopies</a></div>
      <div><a href="/masks">Masks</a></div>
      <div><a href="/ezmasks">EZ Masks</a></div>
      <div><a href="/horizon">Horizon kits</a></div>
      <div><a href="/toybiz">Toy Biz kits</a></div>
      <div><a href="/gandp">Girls und Panzer kits</a></div>
      <div><a href="/kotobuki">The Magnificent Kotobuki kits</a></div>
      <div><a href="/master-box">Master Box mythology / fantasy kits</a></div>
      <div><a href="/beckdiet">Beck Diet page</a></div>
</div>
{% endblock %}
