---
title: Blocks
---
{% extends "layouts/body.html.j2" %}
{% block content %}
<div class="block hcenter">
  <div><a href="tasks/">Tasks</a></div>
  <div><a href="books/">Books</a></div>
  <div><a href="notes/">Notes</a></div>
  <div><a href="audio/">Audio</a></div>
  <div><a href="lilypond/">Lilypond</a></div>
  <div><a href="beatles/">Lilypond - Beatles</a></div>
  <div><a href="classical/">Lilypond - classical</a></div>
  <div><a href="masks/">Masks to make</a></div>
  <div><a href="future-recipes/">Future recipes</a></div>
</div>
{% endblock %}
