---
title: Blocks
---
{% extends "layouts/body.html.j2" %}
{% block content %}
<div class="block">
  <div class="columns is-centered">
    <div class="column button has-text-centered mx-6" onclick="populateBlock('tasks')">Tasks</div>
    <div class="column button has-text-centered mx-6" onclick="populateBlock('future-recipes')">Future recipes</div>
    <div class="column button has-text-centered mx-6" onclick="populateBlock('audio')">Audio</div>
    <div class="column button has-text-centered mx-6" onclick="populateBlock('lilypond')">Lilypond</div>
    <div class="column button has-text-centered mx-6" onclick="populateBlock('beatles')">Lilypond - Beatles</div>
    <div class="column button has-text-centered mx-6" onclick="populateBlock('classical')">Lilypond - classical</div>
    <div class="column button has-text-centered mx-6" onclick="populateBlock('masks')">Masks to make</div>
  </div>
</div>
<div class="block hcenter">
  <div><a href="tasks/">Tasks</a></div>
  <div><a href="notes/">Notes</a></div>
  <div><a href="audio/">Audio</a></div>
  <div><a href="lilypond/">Lilypond</a></div>
  <div><a href="beatles/">Lilypond - Beatles</a></div>
  <div><a href="classical/">Lilypond - classical</a></div>
  <div><a href="masks/">Masks to make</a></div>
  <div><a href="future-recipes/">Future recipes</a></div>
</div>
<div class="block hcenter">
  <div>
    <ul id="blocklist">
    </ul>
  </div>
</div>
<script type="text/javascript">
  const urlPrefix = "https://d1dems3vhrlf9r.cloudfront.net/blocks/"
  function populateBlock(blockName) {
    const req = new Request(urlPrefix + blockName);
    fetch(req).then(function(response) {
      response.text().then(function(text) {
        lines = text.split("\n");
        inner = ""
        for (const line of lines) {
          inner = inner + "<li>" + line + "</li>\n";
        }
        document.getElementById("blocklist").innerHTML = inner;
      })
    });

  }
</script>
{% endblock %}
