---
title: uulists
---
{% extends "layouts/body.html.j2" %}
{% block content %}
<div class="block">
  <div class="columns is-centered">
    <div class="column has-text-centered">Tasks</div>
    <div class="column has-text-centered">Goals</div>
    <div class="column has-text-centered">Audio</div>
    <div class="column has-text-centered">Lilypond</div>
  </div>
</div>
<div class="block">
  <div class="pre-line" id="scratchpad">
  </div>
</div>
<script type="text/javascript">
  const urlPrefix = ""
  function populateBlock(blockName) {
    const req = new Request(urlPrefix + blockName);
    fetch(req).then(function(response) {
      response.text().then(function(text) {
        document.getElementById("scratchpad").innerHTML = text;
      })
    });

  }
</script>
{% endblock %}
