
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$bluebg: #05386b;
$whitetext: #edf5e1;

$link-text: $whitetext;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Noto Sans", "Open Sans", Arial, sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $bluebg,
  $control-border-width: 2px,
  $input-shadow: none,
  $title-color: $whitetext,
  $body-color: $whitetext,
  $body-background-color: rgba(0,0,0,0),
  $table-color: $whitetext,
  $table-background-color: $bluebg,
  // $table-cell-border-style: none,
  $table-cell-border-color: $whitetext
);

a:hover {
  text-decoration: underline;
}

a:visited, a:-webkit-any-link {
  color: $link-text;
}

.pre-line {
  white-space: pre-line;
}

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
